<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{layout/layout::head}"></head>

<body>
<header th:replace="~{layout/layout::header}"></header>

</br>

    <div class="Formulario">
            <div class="container py-4">
                <div class="card bg-dark">
                    <strong><div class="card-header" th:text="${titulo}"><img th:src="@{/images/icon.svg}" alt="AereoGesti logo" width="16"/></div></strong>
                    <div class="card-body">
                        <center>
                            <img th:src="@{/images/avion.png}" alt="logo avion" class="img-fluid" width="64"/>
                            <h3>Nuestros <u>Vuelos</u>.</h3>
                        </center>
                        <h4 class="card-title">
                            <a th:href="@{/vuelo/form}" class="btn btn-success btn-xs" sec:authorize="hasRole('Administrador')">
                                <img th:src="@{/images/new.png}" alt="logo Agregar" class="img-fluid" width="32"/> Agregar</a>
                        </h4>
                        <p sec:authorize="not(hasRole('Administrador'))"><strong>Nota: </strong>Se ha desactivado la edición.</p>
                        <table id="myTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Fecha</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                                <th sec:authorize="hasRole('Administrador')"><center>OPCIONES</center></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="vuelo: ${vuelo}">
                                <td th:text="${vuelo.idVuelo}"></td>
                                <td th:text="${vuelo.fecha}"></td>
                                <td th:text="${vuelo.llegada.nombre}"></td>
                                <td th:text="${vuelo.salida.nombre}"></td>
                                <td>
                                <center sec:authorize="hasRole('Administrador')">
                                    <a th:href="@{/vuelo/form/{id}(id=${vuelo.idVuelo})}" class="btn btn-primary btn-xs">Editar</a>  
                                    <a onclick="return confirm ('¿Estas seguro que deseas eliminar el registro?');" th:href="@{/vuelo/eliminar/{id}(id=${vuelo.idVuelo})}" class="btn btn-danger btn-xs">Eliminar</a>
                                </center>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>


<footer th:replace="~{layout/layout::footer}"></footer>
</body>
</html>